body { background-color: #444}
.pair-group-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
    width: 60%;
}

.pair-group {
  font-weight: bold;
  font-size: 1.5em;
  color: #9B59B6;
}

.individuals {
  font-size: 2rem;
}

.shiny-output-error-validation {
  font-size: 3.2rem;
  margin-top: 20px;
  line-height: 60px;
}

.item[data-value="Everyone"] {
 font-weight: bold;
}
.option[data-value="Everyone"] {
  background-color: #ffeeba;
  font-weight: bold;
}

a.btn.shiny-download-link { background-color: #2ECC71;}

.INcluded {
    font-weight: bold;
    color: #E67E22;
}
.EXcluded {
    font-weight: bold;
    color: #9B59B6;
}
.selectize-input { background-color: #E67E2288; }
.selectize-input.INcluded { background-color: #E67E2288; }
.selectize-input.EXcluded { background-color: #9B59B688; }

